/* Styling Comments.js */
/* .buttonwrapper {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.cards {
  background: #F5F5F5;
  border: 1px solid gray;
  height: 10vh;
  margin-bottom: 4vh;
  overflow-wrap: break-word;
  width: 40vw;
  word-wrap: break-word;
}
.cards-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-top: 2vh;
}

.comment {
  display: flex;
  flex-wrap: wrap;
}
.comment-title {
  color: white;
}
.comments-form {
  background: #ebebeb;
  border: solid 1px #7e7e7e;
  box-shadow: 5px 5px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px;
}
.comments-post-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}

.inside-cards { 
  background: rgba(29, 43, 49, 0.11); 
  border: solid 1px #ffcf3c;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  max-height: 130px;
  overflow: scroll;
  overflow-wrap: break-word;
  padding: 20px 20px 10px 20px;
  width: 300px;
  word-wrap: break-word;
}


.red {
  color:red;
}

.text-length {
  color: white;  
  display: flex;
}

textarea, input {
  background: #fff;
  border: none;
  border: 1px solid #93989d;
  opacity: 1;
  padding: 7px;
  width: 100%;
}

.textarea-review {
  height: 10vh;
  margin-bottom: 2vh;
  width: 400px;
} */