/* MovieList */
.movie-list {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px;
}
.movie-list .hover-details {
  background: #25090183;
  border-radius: 10px;
  bottom: 0;
  display: none;
  left: 0;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
}
.movie-list:hover .hover-details a {
  display: block;
}
.movie-list .hover-details h1 {
  margin-bottom: 0;
  margin-top: auto;
}

.movie-wrapper {
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.568);
  color: #fff;
  margin: 20px;
  position: relative;
  width: 250px;
  text-align: center;
  text-decoration: none;
}

.movie-wrapper a {
  color: #ffffff; 
  text-decoration: none;
}
.movie-wrapper a:hover {
  transform: scale(1.1)
}
.movie-wrapper img {
  border-radius: 10px;
  height: 100%;
  width: 100%; 
}
.movie-wrapper:hover .hover-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;  
}
.rating {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 15%;
}


/* MOBILE */
@media(max-width: 600px) {
.movie-wrapper {
  align-items: center;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
  display: flex;
  height: 120px;
  justify-content: flex-start;
  width: 100%;
}
.movie-wrapper a {
  color: #fff; 
}
.movie-wrapper img {
  border-radius: 10px 0 0 10px;
  height: 117px;
  z-index: 1;
  width: 30%;
}

.movie-list .hover-details {
  background: rgb(31,33,40);
  background: radial-gradient(circle, rgba(31,33,40,0.9346113445378151) 0%, rgba(23,23,25,0.9878326330532213) 100%);
  border: 2px solid #f5b333;  display: block;
}
.movie-list .hover-details h1 {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mobile-view {
  bottom: 0%;
  left: 30%;
  position: absolute;
  right: 5%;
  top: 4%;
}

.rating {
  margin-right: 10%;
}
}

/* .movie-list{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px;
} */

/* .movie-wrapper .hover-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;  
} */