body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;background: rgb(248,255,238);
background: rgb(22,28,31);
background: linear-gradient(137deg, rgba(22,28,31,0.9878326330532213) 10%, rgba(28,50,61,1) 54%, rgba(18,16,16,0.9710259103641457) 93%);  /* background: rgb(248,255,238); */
background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
