body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;background: rgb(248,255,238);
background: #1b262c;
  /* background: rgb(248,255,238); */
/* background: linear-gradient(137deg, rgba(248,255,238,0.542454481792717) 0%, rgba(0,0,0,0.5592612044817927) 38%, rgba(0,0,0,0.7665441176470589) 100%);  */
background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
